@import "tailwindcss";
/*---break---*/
@plugin "tailwindcss-animate";

@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@theme {
  --color-primary-blue: #3a3b7b;
  --color-secondary-blue: #5151f8;
  --color-light-gray: #eeeeff;
  --color-text-primary: #252a34;
  --color-text-second: #555555;
  --color-text-light: #9497a1;
  --color-dark-gray: #263238;
  --color-text-gray-footer: #f5f7fa;
}

body {
  overflow-x: hidden;
}

.clip-diagonal {
  clip-path: polygon(0 0, 55% 0, 45% 100%, 0 100%);
}
.active {
  color: #3a3b7b;
  border-bottom: 2.5px solid #3a3b7b;
  padding: 1rem 0;
}

/* Menu */

.p-menuitem .p-menuitem-content {
  font-size: 13px;
  font-weight: bold;
  color: #252a34;
}
.p-menuitem .p-menuitem-content:hover {
  background-color: #ffffff;
}
.p-focus .p-menuitem-content {
  background-color: #ffffff;
}
.p-submenu-list {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  transition: all 0.2s ease;
  z-index: 99;
  width: 250px;
  transform: translate(0, 10px);
  transition: opacity 200ms ease-in, transform 200ms ease-in,
    visibility 200ms ease-in;
}
.p-submenu-list .p-menuitem-content:hover {
  padding-left: 1rem;
  content: "-";
}
.p-submenu-list .p-menuitem-content {
  border-bottom: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.04);
  transform: transition(0, 10px);
  transition: all 0.3s;
}
.p-menubar-root-list {
  min-width: 10rem;
  left: -7rem;
}

.efects {
  transition: all 0.3s;
}
.menu-hover-efects {
  padding-left: 2rem;
  transform: transition(0, 10px);
  transition: all 0.3s;
}

.gradient {
  background: linear-gradient(30.85deg, #3a3b7b 0%, rgba(52, 54, 67, 0) 80%);
}

/* Estilos personalizados para o Carousel */
.p-carousel-prev,
.p-carousel-next {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  color: white;
  z-index: 10;
  margin-top: 5rem;
}

.p-carousel-prev {
  left: 3rem;
}
.p-carousel-next {
  right: 3rem;
}

.custom-carousel .p-carousel-indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.custom-carousel .p-carousel-indicator {
  width: 30px; /* Indicador retangular */
  height: 4px;
  background-color: #cccccc; /* Cor dos indicadores inativos */
  border-radius: 4px;

  transition: background-color 0.3s ease, opacity 0.3s ease;
  cursor: pointer; /* Adiciona cursor de ponteiro */
}

.custom-carousel .p-carousel-indicator-active {
  background-color: #3a3b7b; /* Cor do indicador ativo */
  opacity: 1;
}

.banner-page {
  background-color: red;
  background: linear-gradient(#3a3b7ba8, #3a3b7b5c),
    url("../../public/images/background-pages.png") center center / cover
      no-repeat;
}

@media screen and (max-width: 800px) {
  .p-carousel-prev,
  .p-carousel-next {
    display: none;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
